body {
    font-size:16px;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#000000;
    font-family: system-ui;
}

button {
    border:none;
    appearance:none;
    outline:none;
    display:inline-block;
    font-size:1.5em;
    cursor:pointer;
    text-decoration:none;
    padding:12px 48px 12px 48px;
    border-radius:4px;
    color:#ffffff;
    background-color:#1d1d1e;
    border: 2px solid #ffffff;
}
button {   transition-duration: 0.4s; }
button:hover {
    font-size:1.6em;
    background-color:#076c3d;
}
.screen {
    padding: 20px;     
    position: fixed;     
    top:50%;     
    left:50%;     
    margin-top: -100px;     
    margin-left: -100px;     
    height:200px;     
    width:250px;     
    text-align: center;
}



